<a href="https://colab.research.google.com/github/Imran0897/Placement-Assignment_Md_Imran/blob/main/ML_03_Placement_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances, manhattan_distances,haversine_distances

In [ ]:
from sklearn.metrics.pairwise import haversine_distances

In [2]:
os.getcwd()

'/content'

In [3]:
os.chdir('/content/drive/MyDrive/Placement_Task/ML_03')

In [4]:
df = pd.read_json('/content/drive/MyDrive/Placement_Task/ML_03/News_Category_Dataset_v3.json',lines=True)

In [5]:
df.head(2)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209527 entries, 0 to 209526
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   link               209527 non-null  object
 1   headline           209527 non-null  object
 2   category           209527 non-null  object
 3   short_description  209527 non-null  object
 4   authors            209527 non-null  object
 5   date               209527 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.6+ MB

In [7]:
df = df.drop(['link','authors', 'date'],axis=1)

In [8]:
df.head()

,headline,category,short_description
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha..."
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to..."
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...

In [9]:
df['text'] = df['headline'] + ' ' + df['short_description']

In [10]:
df.head(2)

,headline,category,short_description,text
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,Over 4 Million Americans Roll Up Sleeves For O...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,"American Airlines Flyer Charged, Banned For Li..."

In [11]:
# Vectorize the text data
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['text'])


1. Cosine Similarity Algorithm

In [43]:
# Function to find the most similar data using different similarity algorithm
def find_similar_data_cosine(query, top_n=5):

    # Vectorize the query
    query_vector = vectorizer.transform([query])

    # Calculate similarities using different algorithms
    cosine_sim = cosine_similarity(X, query_vector).flatten()

    # Find the indices of top similar data points
    top_indices = cosine_sim.argsort()[-top_n:][::-1]

    # Return the top similar data points
    similar_data = df.iloc[top_indices]

    return similar_data

In [13]:
# Example usage
query = "parents nowadays"
similar_data_cosine = find_similar_data_cosine(query)

In [14]:
similar_data_cosine

,headline,category,short_description,text
74401,Mom Who Fostered 90 Children Gets Surprise Fam...,PARENTS,"When we think about the conventional family, w...",Mom Who Fostered 90 Children Gets Surprise Fam...
62490,I Graduated. Where's My Job?,COLLEGE,"Nowadays, most college students are so busy at...","I Graduated. Where's My Job? Nowadays, most co..."
163258,Recipe for a Great Summer,WELLNESS,"Nowadays, as times have changed, everyone is c...","Recipe for a Great Summer Nowadays, as times h..."
171988,Kids Need Dads!,DIVORCE,If both parents are capable of being good pare...,Kids Need Dads! If both parents are capable of...
168060,Teens Get More Than Higher Test Scores With Mi...,WELLNESS,Kids nowadays are under a tremendous amount of...,Teens Get More Than Higher Test Scores With Mi...

2. Euclidean Similarity Algorithm

In [44]:
# Function to find the most similar data using different similarity algorithm
def find_similar_data_euclidean(query, top_n=5):
    # Vectorize the query
    query_vector = vectorizer.transform([query])

    euclidean_sim = euclidean_distances(X, query_vector).flatten()

    # Find the indices of top similar data points
    top_indices = euclidean_sim.argsort()[-top_n:][::-1]

    # Return the top similar data points
    similar_data = df.iloc[top_indices]

    return similar_data

In [16]:
# Example usage
query = "parents nowadays"
similar_data_euclidean = find_similar_data_euclidean(query)

In [17]:
similar_data_euclidean

,headline,category,short_description,text
81485,Sunday Roundup,POLITICS,This week the nation was horrified by yet anot...,Sunday Roundup This week the nation was horrif...
96346,Sunday Roundup,POLITICS,With the nation mourning the victims of the Ch...,Sunday Roundup With the nation mourning the vi...
103120,Diffused Congruence Podcast: Marvel Comics Edi...,ENTERTAINMENT,"For this month's show, we're joined by Marvel ...",Diffused Congruence Podcast: Marvel Comics Edi...
114190,"Plus-Size Holiday Fashion: Tutus, Sequins, and...",STYLE,"When you're a plus-size girl, dressing up is a...","Plus-Size Holiday Fashion: Tutus, Sequins, and..."
194336,"Little League Dads Brawl In Georgia, And Other...",PARENTING,The message sent to the 12-year-olds on the fi...,"Little League Dads Brawl In Georgia, And Other..."

3. Manhattan Similarity Algorithm

In [45]:
# Function to find the most similar data using different similarity algorithm
def find_similar_data_manhattan(query, top_n=5):
    # Vectorize the query
    query_vector = vectorizer.transform([query])

    manhattan_sim = manhattan_distances(X, query_vector).flatten()

    # Find the indices of top similar data points
    top_indices = manhattan_sim.argsort()[-top_n:][::-1]

    # Return the top similar data points
    similar_data = df.iloc[top_indices]

    return similar_data

In [19]:
# Example usage
query = "parents nowadays"
similar_data_manhattan = find_similar_data_manhattan(query)

In [36]:
similar_data_manhattan

,headline,category,short_description,text
109802,Weekend Roundup: Laughing at God,WORLDPOST,The first principle of an open society is not ...,Weekend Roundup: Laughing at God The first pri...
66816,Sunday Roundup,POLITICS,This week the nation watched as the #NeverTrum...,Sunday Roundup This week the nation watched as...
63109,Sunday Roundup,POLITICS,"This week, the nation was reminded, in ways bo...","Sunday Roundup This week, the nation was remin..."
107893,Sunday Roundup,POLITICS,"This week began with ""The Horrible Call"" final...","Sunday Roundup This week began with ""The Horri..."
72892,Sunday Roundup,POLITICS,This week the GOP debate circus pulled into Mi...,Sunday Roundup This week the GOP debate circus...

4. Haversine Similarities Algorithm

In [46]:
# Function to find the most similar data using different similarity algorithm
def find_similar_data_haversine(query, top_n=5):
    # Vectorize the query
    query_vector = vectorizer.transform([query])

    haversine_sim = haversine_distances(X, query_vector).flatten()

    # Find the indices of top similar data points
    top_indices = haversine_sim.argsort()[-top_n:][::-1]

    # Return the top similar data points
    similar_data = df.iloc[top_indices]

    return similar_data

In [41]:
# Example usage
query = "parents nowadays"
similar_data_haversine = find_similar_data_haversine(query)

In [42]:
similar_data_haversine

,headline,category,short_description,text
121268,8:00,HEALTHY LIVING,,8:00
143003,Learning from a Year of Living On a Bicycle,TRAVEL,Build a Routine Don't Stop 2014 is here. How c...,Learning from a Year of Living On a Bicycle Bu...
65619,L O V E,HEALTHY LIVING,,L O V E
109100,,BUSINESS,,
103675,,WORLDPOST,,